<div class="jumbotron jumbotron-fluid">
  <div class="banner-index d-flex justify-content-center align-items-center flex-column" style="height: 400px;">
    <div class="list d-flex justify-content-center align-items-center flex-column">
      <h2 class="bannerSubtitleIndex">Cities You've Visted</h2>
    </div>
  </div>
</div>

<div class="city-container d-flex justify-content-center align-items-center flex-wrap">
    <% @cities.each do|city| %>
      <div class="card d-flex justify-content-center align-items-center flex-wrap" style="width: 18rem;">
         <h5 class="card-title"> <%= city.name %>,</h5>
        <h5 class="card-title"><%= city.country %></h5>

          <h6 class="details m-3">
            <%= link_to city_path(city) do %>
             More Details
            <% end %>
          </h6>
          <div class="show-cities-btns d-flex justify-content-center align-items-center">
          <div class="delete-btn p-3">
            <%= link_to city_path(city),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do
          %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          </div>
          <div class="edit-btn">
          <%= link_to edit_city_path(city) do %>
            <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
          </div>
          </div>

         </div>
               <% end %>
  </div>


<div class="index-btns d-flex justify-content-center align-items-center flex-wrap">
  <div>
  <%= link_to root_path, class: "btn btn-outline-warning btn-lg btn-add-cities-outline" do %>
      Back to home
    <% end %>

  </div>
  <div>
    <%= link_to "cities/new", class: "btn btn-outline-warning btn-lg btn-add-cities" do %>
      Add City
    <% end %>
  </div>
</div>
